@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

/* Reset css */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* Define environment variables */
:root{
    --lava: #DF3B06; 
    --smoothorange: #E36904;
    --black: #010000;
    --sandwhite: #fae8d0;
    --transparentnight: #0c0e16a8;
    --sepiablack: #270b03;
    --transparentbrown: #3b1004b9;
    --redditmono: "Reddit Mono", monospace;
}

/* Css for the scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lava);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--smoothorange);
}

/* Css for the section home*/
.dunehome {
    height: 100vh;
    background-image: url(../../public/img/dune-background.webp);
    background-size: cover;
    padding: 70px;
    font-family: var(--redditmono);
    font-style: normal;
    color: var(--sandwhite);

    /*Modify the div of the section home*/
    & div {
        position: relative;
        top: 20%;

        & h2 {
            font-weight: lighter;
            font-size: xx-large;
        }

        & a {
            color: var(--sandwhite);
            font-weight: 300;
            text-decoration: none;
            height: 30px;
            width: 600px;
            padding: 5px;
            border: 1px solid var(--sandwhite);
            border-radius: 20px;
        }

        & a:hover {
            background-color: var(--smoothorange);
            color: var(--black);
            font-weight: 300;
        }
    }
}
/* Css for the navbar of the section  main/introduction*/
/* Css for the aside*/
nav {
    height: 250px;
    z-index: 300;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: fixed;
    top: 20px;
    right: 30px;
}
/* Css for the navbar*/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 220px;
    width: 130px;
    padding: 10px;
    font-family: var(--redditmono);
    border: 1px solid var(--sandwhite);
    background-color: var(--transparentnight);
    border-radius: 20px;

    & a {
        color: var(--sandwhite);
        text-decoration: none;
        font-weight: lighter;
        font-size: small;
        margin-bottom: 10px;
    }

    & a:hover {
        font-weight: 500;
        font-size: small;
    }
}

/* Anchor eclipse*/
.eclipse {
    height: 65px;
    width: 100px;
    position: relative;
    left: 25px;
}

/* Css for the large texts*/
.text2 {
    width: 70px;
    text-align: right;
}


/* Css for the section main/introduction*/
.dunemain {
    height: 100vh;
    padding: 30px;
    background-image: url(../../public/img/night-sand.webp);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.textmain {
    font-family: var(--redditmono);
    font-style: normal;
    color: var(--sandwhite);

    & h4 {
        font-weight: 400;
        font-size: x-large;
    }

    & h1 {
        font-weight: 900;
        font-size: 300%;
        letter-spacing: 0.35em;
        word-spacing: 0.35em;
    }
    & p{
        font-weight: 300;
        background-color: var(--transparentnight);
    }
}

/* Css for the section Sinopsis DUNE*/
.sinopsis-dune{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 2000px;
    background-image: url(../../public/img/paul-yellow-bg-1.webp);
    background-size: cover;
    align-content: center;
}

.textduneone {
    font-family: var(--redditmono);
    font-style: normal;
    color: var(--sepiablack);

    & h2 {
        font-weight: 900;
        font-size: 300%;
        letter-spacing: 0.20em;
    }
    & p{
        font-weight: 400;
    }
}
/* Css for the section Sinopsis DUNEII*/
.sinopsis-dunetwo{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px;
    max-width: 2000px;
    background-image: url(../../public/img/paul-yellow-bg-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Css for the footer*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--black);
    font-family: var(--redditmono);
    color: var(--sandwhite);
    font-weight: 300;
}
.nameauthor{
    color: var(--lava);
    text-decoration: none;
}
.nameauthor:hover{
    color: var(--smoothorange);
}
.redes{
    & a{
        color: var(--sandwhite);
    }
    & a:hover{
        color: var(--smoothorange);
    }
}
